<%- include('includes/head.ejs') %>
<script src="/javascripts/marsImagesFunc.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container mb-3">
                <div class="bg-image p-5">
                    <div class="d-flex justify-content-center text-center">
                        <div class="bg-white p-3">
                            <h2>Mars images browser</h2>
                            <p>Browse NASA Mars images and save your preferred ones.</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#broughtByModal">brought to you by</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <div class="gap-2 d-flex justify-content-between justify-content-md-end align-items-center">
                <p class="m-0 me-2">Welcome <%= firstName%> <%= lastName%> </p>
                <a href="/logout" class="btn btn-outline-danger" id="logout">Logout</a>
            </div>
        </div>
    </div>

    <div class="row d-none" id="loadingImg">
        <div class="col position-relative">
            <img class="position-absolute top-50 start-50 translate-middle" src='images/loading-buffering.gif' alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="bg-info p-2 text-dark bg-opacity-25 rounded mb-3"><h3><b>Search for images:</b></h3></div>

            <div class="col d-flex mb-3 d-none" id="errorNasaServer">
                <div class="card border-danger">
                    <div class="card-body text-danger">
                        <h2 class="card-text">NASA servers are not available right now, please try searching again later</h2>
                    </div>
                </div>
            </div>

            <form id="searchForm">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="dateOrSol">Date (YYYY-MM-DD) or Sol</label>
                        <input type="text" class="form-control" id="dateOrSol" name="dateOrSol">
                        <div class="text-danger errormessage"></div>
                    </div>

                    <div class="mb-3">
                        <label for="rover">Select Rover:</label>
                        <select class="form-select" id="rover" name="rover" aria-label="Default select example">
                            <option selected value="">Choose a rover</option>
                            <option value="Curiosity">Curiosity</option>
                            <option value="Opportunity">Opportunity</option>
                            <option value="Spirit">Spirit</option>
                        </select>
                        <div class="text-danger errormessage"></div>
                    </div>

                    <div class="mb-3">
                        <label for="dateOrSol">Select Camera:</label>
                        <select class="form-select" id="camera" name="camera" aria-label="Default select example">
                            <option selected value="">Choose a camera</option>
                            <option value="FHAZ">FHAZ</option>
                            <option value="RHAZ">RHAZ</option>
                            <option value="MAST">MAST</option>
                            <option value="CHEMCAM">CHEMCAM</option>
                            <option value="MAHLI">MAHLI</option>
                            <option value="MARDI">MARDI</option>
                            <option value="NAVCAM">NAVCAM</option>
                            <option value="PANCAM">PANCAM</option>
                            <option value="MINITES">MINITES</option>
                        </select>
                        <div class="text-danger errormessage"></div>
                    </div>
                </div>

                <button type="submit" id="search" class="btn btn-outline-info mb-3 disabled">search</button>
                <button type="reset" class="btn btn-outline-info mb-3">clear</button>
            </form>
        </div>

        <div class="col-12 col-md-6">
            <div class="bg-primary p-2 text-primary bg-opacity-25 rounded mb-3"><h3><b>Saved Images</b></h3></div>
            <div>
                <button class="mb-2 btn btn-outline-primary togglevisible" type="button" id="edit-list">Edit list</button>
                <button class="mb-2 btn btn-outline-primary d-none togglevisible" type="button" id="finish-editing">Finish editing</button>
                <button class="mb-2 btn btn-outline-primary" type="button" id="start-slide">Start slide show</button>
                <button class="mb-2 btn btn-outline-primary" type="button" id="stop-slide">Stop slide show</button>
            </div>
            <div class="mb-2">
                <button class="btn btn-danger d-none togglevisible" type="button" id="clear-list">Clear list</button>
            </div>
            <ol id="savedImagesList">
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div id="carousel" class="carousel" data-bs-ride="carousel">
                    <div class="carousel-inner"></div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="bg-info p-2 text-dark bg-opacity-25 rounded mb-3"><h3><b>search results:</b></h3></div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-3" id="searchResults"></div>
        </div>
    </div>
</div>

<!-- brought by Modal -->
<div class="modal fade" id="broughtByModal" tabindex="-1" aria-labelledby="broughtByModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info p-3 text-white">
                <h5 class="modal-title" id="broughtByModalLabel">Brought to you by</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Name: Elie Frankenhuis</p>
                <p>Email: eliezerfr@edu.hac.ac.il</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Button to saved modal -->
<button type="button" class="d-none" id="btnSavedModal" data-bs-toggle="modal" data-bs-target="#savedModal"></button>

<!-- saved Modal -->
<div class="modal fade" id="savedModal" tabindex="-1" aria-labelledby="savedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info p-3 text-white">
                <h5 class="modal-title" id="savedModalLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The image is already saved.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>
<%- include('includes/end.ejs') %>
