<%- include('includes/head.ejs') %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="border border-info p-3 rounded">
                    <div class="bg-info p-2 text-dark bg-opacity-25 rounded mb-3 text-center">
                        <h1>Mars images browser</h1>
                        <h4>Password selection</h4>
                    </div>
                    <h5 class="text-center mb-3">Complete the registration in one minute</h5>
                    <form action="/register/addUser" method="POST">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" minlength="8" placeholder="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="RePassword" class="form-label">Re-enter password</label>
                                <input type="password" class="form-control" id="RePassword" name="RePassword" placeholder="password again" required
                                       oninput="this.setCustomValidity(this.value !== password.value ? 'Password must be matching' : '')">
                            </div>
                            <button type="submit" class="btn btn-info mb-3">Register</button>
                        </div>
                    </form>
                    <p>Do you already have an account? <a href="/login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/end.ejs') %>
